
    <md-toolbar class="md-toolbar-custom-header">

        <div class="md-toolbar-tools">
            <md-button class="md-icon-button hide-menu-close" aria-label="Menu Toggle" ng-click="menu()">
                <md-icon md-font-icon="material-icons">menu</md-icon>
            </md-button>

            <span flex></span>
            <md-menu-sidenav>
                <md-menu-sidenav-item>
                    <a style="padding: 0px 12px 0px 13px" href="#/home"><h2 class="md-body-2" flex>Home</h2></a>
                </md-menu-sidenav-item>
            </md-menu-sidenav>
            <md-menu-sidenav>
                <md-menu-sidenav-item>
                    <a style="padding: 0px 12px 0px 13px" href="#/aboutUs"><h2 class="md-body-2" flex>About Us</h2></a>
                </md-menu-sidenav-item>
            </md-menu-sidenav>
            <md-menu-sidenav>
                <md-menu-sidenav-item>
                    <a style="padding: 0px 12px 0px 13px" href="#/services"><h2 class="md-body-2" flex>Services</h2></a>
                </md-menu-sidenav-item>
            </md-menu-sidenav>
            <md-menu-sidenav>
                <md-menu-sidenav-item>
                    <a style="padding: 0px 12px 0px 13px" href="#/portfolio"><h2 class="md-body-2" flex>Portfolio</h2></a>
                </md-menu-sidenav-item>
            </md-menu-sidenav>
            <md-menu-sidenav>
                <md-menu-sidenav-item>
                    <a style="padding: 0px 12px 0px 13px" href="#/contactUs"><h2 class="md-body-2" flex>Contact Us</h2></a>
                </md-menu-sidenav-item>
            </md-menu-sidenav>
            <md-menu-sidenav>
                <md-menu-sidenav-item>
                    <a style="padding: 0px 12px 0px 13px" href="#/login"><h2 class="md-body-2" flex>Sign In</h2></a>
                </md-menu-sidenav-item>
            </md-menu-sidenav>
        </div>
    </md-toolbar>
    <md-content class="main-content md-fade-in md-padding page-content transparent">
        <md-content class="box-shadow">
            <md-content class="md-padding" >
                <!-- Services Section -->
                <div id="services-section" flex layout="row" layout-align="center center">
                    <div class="container">
                        <div class="section-title wow fadeInDown">
                            <h2>Our <strong>Services</strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                            <p>We are a full service interactive agency that delivers digital age solutions that help businesses connect with their clients. </p>
                        </div>
                        <div class="space"></div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="200ms">
                                <i class="fa fa-desktop"></i>
                                <h4><strong>Web design</strong></h4>
                                <span>
                                    We design industry leading websites that will make you stand out from the competition. They will attract customers and increase revenue rappidly and expectedly.
                                </span>
                            </div>
                            <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="400ms">
                                <i class="fa fa-gears"></i>
                                <h4><strong>App Development</strong></h4>
                                <span>
                                    We love taking ideas and turning them into real apps. We are passionate, creative, and have experience developing
                                    products as entrepreneurs.
                                </span>
                            </div>
                            <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="600ms">
                                <i class="fa fa-server"></i>
                                <h4><strong>Server</strong></h4>
                                <span>
                                    When your email is down, so is your business. We know how downtime impacts your productivity and your bottom line. That's why we back Hosted Exchange.
                                </span>
                            </div>
                            <div class="col-md-3 col-sm-6 service wow fadeInUp" data-wow-delay="800ms">
                                <i class="fa fa-rocket"></i>
                                <h4><strong>Branding</strong></h4>
                                <span>We know how to build products that can scale to your business' needs, regardless if you're a startup, an enterprise, or a governmental organization.Branding is also our speciality</span>
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>
        </md-content>
    </md-content>
