<md-toolbar class="md-toolbar-custom-header">

    <div class="md-toolbar-tools">
        <md-button class="md-icon-button hide-menu-close" aria-label="Menu Toggle" ng-click="menu()">
            <md-icon md-font-icon="material-icons">menu</md-icon>
        </md-button>


        <span flex></span>
        <md-menu md-position-mode="target-right target">
            <md-button class="md-icon-button" aria-label="Options" ng-click="vm.openToolsMenu($mdOpenMenu, ev)">
                <md-icon md-font-icon="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content width="3" class="md-functions-dropdown-sm">
                <md-menu-item>
                    <md-button class="md-primary">
                        <md-icon md-font-icon="material-icons">reply</md-icon><a href="#/login">Sign In</a>
                    </md-button>
                </md-menu-item>

            </md-menu-content>
        </md-menu>
    </div>
    <div class="md-toolbar-tools md-toolbar-custom-heading">
        <div id="services-section" flex layout="row" layout-align="start start">
            <img src="../../../assets/img/sight1.png" />

        </div>
        <div id="services-section" flex layout="row" layout-align="center">
            <h1>Testing College</h1>
        </div>
    </div>
    <div class="header-tabs md-toolbar-tools" hide show-gt-sm>
        <div>
            <md-button ng-class="{'md-active' : false}" class="" aria-label="Home"><a style="padding: 0px 12px 0px 13px" href="#/home">Home</a></md-button>
        </div>
        <div>
            <md-button ng-class="{'md-active' : false}" class="" aria-label="Home"><a style="padding: 0px 12px 0px 13px" href="#/aboutUs">About Us</a></md-button>
        </div>
        <div>
            <md-button ng-class="{'md-active' : false}" class="" aria-label="Home"><a style="padding: 0px 12px 0px 13px" href="#/services">Services</a></md-button>
        </div>
        <div>
            <md-button ng-class="{'md-active' : false}" class="" aria-label="Home"><a style="padding: 0px 12px 0px 13px" href="#/portfolio">Portfolio</a></md-button>
        </div>
        <div>
            <md-button ng-class="{'md-active' : true}" class="" aria-label="Home"><a style="padding: 0px 12px 0px 13px" href="#/contactUs">Contact Us</a></md-button>
        </div>
    </div>
    <div class="header-tabs" hide show-sm>
        <md-select ng-model="tabs" aria-label="mobileMenu">
            <md-option value="Home" aria-label="Home">
                <span aria-label="Home">Home</span>
            </md-option>
        </md-select>
    </div>
</md-toolbar>
<md-content class="main-content md-fade-in md-padding page-content transparent">
    <md-content class="box-shadow">
        <md-content class="md-padding">
            <div class="section-title wow fadeInDown">
                <h2><strong>Contact</strong> us</h2>
                <hr>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>-->
                <p>Please feel free to leave us a message, and we will get one of our consultant get back to your as soon as possible.</p>
            </div>
            <div class="col-md-8 col-md-offset-2 wow fadeInUp" data-wow-delay="200ms">
                <div class="col-md-4">
                    <i class="fa fa-map-marker fa-2x"></i>
                    <p>
                        41 Parklands Avenue<br>
                        Alberton, JHB, 1449
                    </p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-envelope-o fa-2x"></i>
                    <p>info@sbit.co.za</p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-phone fa-2x"></i>
                    <p> +27 79 124 0425</p>
                    <p> +27 76 255 1150</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </md-content>
    </md-content>
</md-content>