<md-toolbar class="md-toolbar-custom-header">

    <div class="md-toolbar-tools">
        <md-button class="md-icon-button hide-menu-close" aria-label="Menu Toggle" ng-click="menu()">
            <md-icon md-font-icon="material-icons">menu</md-icon>
        </md-button>


        <span flex></span>
        <md-menu md-position-mode="target-right target">
            <md-button class="md-icon-button" aria-label="Options" ng-click="vm.openToolsMenu($mdOpenMenu, ev)">
                <md-icon md-font-icon="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content width="3" class="md-functions-dropdown-sm">
                <md-menu-item>
                    <md-button class="md-primary" ng-click="vm.navigate('login')">
                        <md-icon md-font-icon="material-icons">reply</md-icon>Sign In
                    </md-button>
                </md-menu-item>

            </md-menu-content>
        </md-menu>
    </div>
    <div class="md-toolbar-tools md-toolbar-custom-heading">
        <div id="services-section" flex layout="row" layout-align="start start">
            <img src="../../../assets/img/sight1.png" />
            <h1 style="font-size:-webkit-xxx-large">Testing College</h1>
        </div>
    </div>
    <div class="header-tabs md-toolbar-tools" hide show-gt-sm>
        <div>
            <md-button ng-class="{'md-active' : true}" class="" ng-click="vm.navigate('home')">Home</md-button>
        </div>
        <div>
            <md-button ng-class="{'md-active' : false}" class="" ng-click="vm.navigate('aboutUs')">About Us</md-button>
        </div>
        <div>
            <md-button ng-class="{'md-active' : false}" class="" ng-click="vm.navigate('services')">Services</md-button>
        </div>
        <div>
            <md-button ng-class="{'md-active' : false}" class="" ng-click="vm.navigate('portfolio')">Portfolio</md-button>
        </div>
        <div>
            <md-button ng-class="{'md-active' : false}" class="" ng-click="vm.navigate('contactUs')">Contact Us</md-button>
        </div>
    </div>
    <div class="header-tabs" hide show-sm>
        <md-select ng-model="tabs" aria-label="mobileMenu">
            <md-option value="Home" aria-label="Home">
                <span aria-label="Home">Home</span>
            </md-option>
        </md-select>
    </div>
</md-toolbar>

<md-content class="main-content md-fade-in md-padding page-content transparent">
    <md-content class="box-shadow">
        <md-content class="md-padding">
            <p>
                <strong> Communiqué: Office of the Deputy Vice-Chancellor Teaching, Learning and Technology</strong>
                <br>
                Classes for all students commenced on 23 January 2017. As you know, regular class attendance is vital to ensure academic success. If you have, for whatever reason, not attended class since the commencement of lectures a week ago, I would like to urge you to immediately report to your Faculty and honour classes as they are scheduled, even if you have not registered yet.
                <br>
                Please click here to read more.

            </p>

            <p>
                <strong> VC's Communiqué</strong> <br>
                With classes for all our students commencing at all nine campuses this week, I extended a sincere welcome to each and every student, especially the 2017 first-year students. Towards the end of 2016, the University had already received about 95 000 first-year applicants. This week, close to 15 000 students officially started their academic studies. Together with the leadership of the University and staff, we wish you all the best with this exciting and life-changing new chapter in your lives.
                Please click here to read more.<br>
                Important notice on the revision of qualifications
                There have been changes at national level brought about by the new Policy for Higher Education Qualifications. Such changes were required by the policy document titled Higher Education Qualifications Sub-Framework (HEQSF), Government Gazette No. 36721 (02 August 2013). The introduction of the HEQSF in the Higher Education sector required all public and private Higher Education Institutions (HEIs), including Tshwane University of Technology (TUT), to revise all its qualifications to ensure alignment with the HEQSF.
            </p>
        </md-content>
    </md-content>
</md-content>
