<dir-page-header heading="vm.heading"
                 icon="vm.icon"
                 show-search="false"
                 show-new-button="true"
                 add-new-button-function="vm.newFile()">
</dir-page-header>

<md-content class="main-content md-fade-in md-padding page-content transparent">
    <md-content class="box-shadow">
        <md-data-table-container>
            <table md-data-table md-progress="deferred">
                <thead md-order="query.order" md-trigger="onOrderChange" class="color-blue color-medium-grey">
                    <tr>
                        <th name="Title"></th>
                        <th name="Class"></th>
                        <th name="Description"></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="file in vm.files" class="hover">
                        <td>{{file.title}}</td>
                        <td>{{file.class.description}}</td>
                        <td>{{file.description}}</td>
                        <td>
                            <md-button class="md-primary md-primary-custom" ng-click="vm.downloadFile(file)">Download</md-button>
                        </td>
                        <td>
                            <md-button class="md-icon-button" ng-click="vm.editFile(file)">
                                <md-icon md-font-icon="material-icons" class="md-font material-icons">edit</md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="vm.deleteFile(file)">
                                <md-icon md-font-icon="material-icons" class="md-font material-icons">delete</md-icon>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-data-table-container>
        <md-data-table-container>
            <md-data-table-pagination class="margin-bottom-16" md-limit="vm.pagenation.limit" md-page="vm.pagenation.page" md-total="{{vm.files.length}}"></md-data-table-pagination>
        </md-data-table-container>
    </md-content>
</md-content>